<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>ToDo List</h1>
    </header>

    <main>
    <div id="app">
        <ol>
            <!-- TAREA -->
            <li v-for="(tarea, index) in tarea_array" :key="index">
                <strong>{{tarea.nombre}}</strong> | <i>{{tarea.descripcion}}</i>| {{tarea.fecha}} | 
                <span v-on:click="cambiarestado(index)">{{tarea.completado}}</span> ----
                <button v-on:click="borrartarea(index)">borrar</button>
            </li> 
        </ol>

        <!-- NOTIFICACION DE TAREAS -->
        <p>tengo {{tarea_array.length}} tareas y {{activas}} activas</p>
        <input type="text" v-model="tarea">
        <input type="text" v-model="descripcion">
        <button v-on:click="metertarea">añadir tarea</button>
    </div>
    </main>
</body>
</html>