*{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    display: flex;
    flex-direction: column;

}
h1{
    background-color: darkslateblue;
    color: white;
}
li{
    margin: 2rem;
}
span{
    color: red;
}
ol {
padding-left: 2rem;
list-style-type: none;
}

ol li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}